body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../src/blitzkrye-studio-background.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__suptitle {
    font-size: 6vh;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.intro__inner {
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    width: calc(70%);
    margin-top: 0;
    margin-left: calc(16%);
}

.btn {
    text-transform: uppercase;
    font-size: 3vh;
    margin: 0 calc(35%);
    padding-top: 0.3vh;
    border-radius: .3vw;
    text-decoration: none;
    color: #333;
    background: goldenrod;
    text-align: center;
    transition:color, background .2s linear;
}

.btn:hover {
    color: goldenrod;
    background: #333;
}

/* Header */
.header {
    width: 100%;
    background-color: #333;
    box-shadow: rgb(24, 24, 24) 10px 15px 30px;
    padding: 1vh 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    height: 7vh;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'League Spartan', sans-serif;
    margin-top: 1vh;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

/* Nav */
.nav {
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5vh;
    position: relative;

    text-decoration: none;
    color: #fff;

    transition: color .2s linear;
}

.nav__link::after {
    content: "";
    margin-top: .2vh;
    display: block;
    width: 100%;
    height: .5vh;
    background:goldenrod;
    border-radius: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__link:hover {
    color:goldenrod;
}

/* About */
.about {
    display: flex;
    background-color: #333;
    font-size: 2vh;
    font-weight: 500;
}

.about__inner {
    padding: 2vh 3vw;
}

.about__text {
    z-index: 10000;
    color: #fff;
}