body {
    background:rgb(79, 59, 212);
    margin: 0;
    padding: 0;
}

.palettes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.small-palettes {
    display: flex;
    align-items: centernpm;
    justify-content: center;
    width: 90%;
}

.small-palettes .small-palette {
    float: left;
    margin-right: auto;
    margin-right: 5%;
    margin-bottom: 40px;
}


.smallpalette-container {
    display: block;
    width: 100%;
    height: 200px;
    background: #fff;
    border-radius: 4px;
    padding: 0 10px;
    box-sizing: border-box;
    padding-top: 9px;
    transition: all .2s
}

.smallpalette-container:active {
    -webkit-transform: scale(.97);
    transform: scale(.97)
}

.smallpalette-container .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    height: calc(100% - 40px);
    float: left
}

.smallpalette-container .colors .color {
    width: 30%;
    float: left;
    height: 35%;
    background: green
}

.smallpalette-container .colors .color:first-child {
    border-top-left-radius: 4px
}

.smallpalette-container .colors .color:nth-child(3) {
    border-top-right-radius: 4px
}

.smallpalette-container .colors .color:nth-child(7) {
    border-bottom-left-radius: 4px
}

.smallpalette-container .colors .color:nth-child(9) {
    border-bottom-right-radius: 4px
}

.name {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    float: left;
    width: 100%;
    text-align: left;
    text-indent: 2px;
    letter-spacing: .55px
}

@media screen and (min-width: 1200px) {
    .small-palette{
        width: 300px;
    }
}

@media screen and (max-width: 1200px) {
    .small-palette{
        width: 250px;
    }
}

@media screen and (max-width: 800px) {
    .small-palette{
        width: 60%;
    }

    .small-palettes {
        flex-direction: column;
        align-items: center;
    }
}